html { overflow-x: hidden;  }
html * { box-sizing: border-box; }
body {
  background: #EBEDF8;
  font-family: 'FuturaLT-Light';
  font-size: 10px;
  margin: 0;
  padding: 0;
}
a,a:hover, a:focus, a:visited {text-decoration: none; outline: none;}

#pt {
  position: absolute;
  /*left: 20px;*/
  top: 0px; bottom: 0px; right: 0px;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  transition: ease .8s;
}
.pt-bigger { width: 100% !important; left: 20px !im; }
.order-and-portfolio {
  font-size: 16px;
  right: 60px;
  top: 70px;
  z-index: 2;
  position: absolute;
}
.order-and-portfolio li {
  display: inline;
  margin-left: 20px;
  color: #515152;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.order-and-portfolio .make-order {
  background: #6b50cd;
  color: #fff;
  border-radius: 50px;
  padding: 10px 15px;
}

.order-and-portfolio .go-back {
  background: #6D6D6D;
  color: #fff;
  border-radius: 50px;
  padding: 10px 15px;
  z-index: 3;
}
/*FONTS*/

@font-face {
  font-family: 'FuturaLT-Light';
  src: url('../fonts/FuturaLT-Light.woff') format('woff'),
       url('../fonts/FuturaLT-Light.ttf') format('truetype'),
       url('../fonts/FuturaLT-Light.svg#FuturaLT-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto-Bold.ttf') format('truetype'),
       url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hidden { display: none; }
.word-with-bg { background: #6b50cd; color: #fff; padding: 0 5px 5px 5px !important;}
header { position: absolute; z-index: 2; }
header .logo {
  background: url('../imgs/Logo.svg');
  height: 120px;
  width: 220px;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 20px;
}
.image {
  /*background: url('../imgs/logbackground.png') no-repeat;*/
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 0 !important;
  float: right;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: auto;
}

#makeorder,
#homepage,
#contact {
  height: 100%;
}
#makeorder { background: #4385F6; }
#homepage { background: #EBEDF8;}
#contact { background: #59D2B0;}

.facebook { float: left; position: absolute; right: 40px;  }
.social { right: 195px; top: 45px; position: absolute; z-index: 2; }
.social li { display: inline-block;  list-style-type: none; }
.svg--icon {
  width: 100%;
  max-width: 50px;
  height: 100%;
  max-height: 50px;
  display: block;
  margin: 0 auto;
  fill: currentColor;
}
.st0 {fill:none; stroke:#777777;stroke-linecap:round;stroke-linejoin:round;}
.st2{fill:none;stroke:#777777;stroke-linecap:round;stroke-linejoin:round; }

.from-top {
  opacity: 0.1;
  width: 1px;
  background-color: #05152f;
  position: absolute;
  left: calc(90% - 1px);
  height: 100%;
  z-index: 2;
}

.from-left {
  position: absolute;
  top: calc(285% - 1px);
  width: 100%;
  height: 1px;
  left: 0px;
  opacity: .1;
  background-color: #05152f;
}

#contact h2 {
  font-size: 34em;
  font-weight: 700;
  line-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: calc(200% - 200px);
  color: rgba(0,0,0,0.03);
  font-family: 'Roboto';
}

/* Small devices (phones, 767px and down) */
@media(max-width:767px){

}
/* Medium devices (tables, 768px and up) */
@media(min-width:768px){

}
/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){

}
/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){

}
