/*TEXT*/
.cd-intro {
  color: #777776;
  font-family: 'FuturaLT-Light';
  position: absolute;
  z-index: 2;
  top: calc(50% - 140px);
  left: 70px;
  letter-spacing: 2px;
}

.cd-words-wrapper {
  margin-left: -195px;
  margin-top: 95px;
  color: #7e68d3;
  font-weight: bold;
}

.cd-headline {
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  font-family: 'FuturaLT-Light';
}

/*Media Querys*/
@media(max-width:767px) {
    .cd-headline {
    font-size: 5rem;
    line-height: 1;
    margin-top: 25%;
  }
}
@media(max-width:500px) {
    .cd-headline {
    font-size: 5rem;
    line-height: 1;
    margin-top: 30%;
  }
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
/*EFFECT*/

/* --------------------------------
xclip
-------------------------------- */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 11px;
  right: 0;
  width: 2px;
  height: 75%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}
